extends ../layouts/base.pug

//- Page-Specific Block Imports
include ../blocks/header/header.pug
include ../blocks/header-footer/header-footer.pug
include ../blocks/our-services/our-services.pug

block page
	+header
	+header-footer
	+our-services
