/**
 * Styles for the header block.
 */
.header {
	background-image: url('../img/42894.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #303B6C;
	width: 100%;
	height: 100%;
	position: relative;

	@media(max-width: 768px) {
		padding: 0 20px;
		background-position: 65%;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media(max-width: 768px) {}

		&_icon {
			margin-top: 22px;
			display: flex;
			align-items: center;
		}

		&_icon-text {
			font-family: 'Cera Pro';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 20px;
			letter-spacing: 1px;
			text-transform: uppercase;
			max-width: 155px;
			margin-left: 9px;
			color: #FFFFFF;

			@media(max-width: 768px) {
				font-size: 14px;
				max-width: 121px;
			}
		}

		&_phone {
			display: flex;

			@media(max-width: 768px) {
				flex-direction: column;
				align-items: center;
				position: absolute;
				top: 120px;
				left: 30px;
			}

			&-img {
				@media(max-width: 768px) {
					display: none;
				}
			}
		}

		&_phone-text {
			margin-left: 6px;
			font-family: 'Futura';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 21px;
			color: #FFFFFF;
			text-decoration: none;

			&:hover {
				opacity: .5;
			}
		}

		&_link {
			background: linear-gradient(169.44deg, #F03C53 0%, #FF2778 101.5%), #F03C53;
			mix-blend-mode: normal;
			opacity: 0.65;
			box-shadow: 0px 0px 20px #4A5897;
			border-radius: 15.5px;
			text-decoration: none;
			font-family: 'Museo Sans Cyrl';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			padding: 6px 23px 8px 25px;
			line-height: 17px;
			color: #FFFFFF;
			border: none;
			cursor: pointer;

			@media(max-width: 768px) {
				position: absolute;
				top: 135px;
				right: 20px;
			}

			&:hover {
				opacity: .5;
			}
		}
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_list {
			margin-top: 36px;
			margin-bottom: 48px;
			display: flex;
			align-items: center;

			@media(max-width: 768px) {
				flex-direction: column;
				display: none;
			}
		}

		&_item {
			display: flex;
			align-items: center;

			&:not(:last-child):after {
				content: '|';
				display: block;
				color: #fff;
				margin: 0 22px;

				@media(max-width: 768px) {
					display: none;
				}
			}

			&-link {
				font-family: 'Cera Pro';
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 16px;
				text-align: center;
				text-transform: uppercase;
				color: #FFFFFF;
				text-decoration: none;

				&:hover {
					opacity: .5;
				}
			}
		}
	}

	&__nav_btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 21px 5px 15px;
		background-color: #303B6C;
		border-radius: 15.5px;

		@media(max-width: 768px) {
			position: absolute;
			top: 40px;
			right: 70px;
			padding: 6px 12px;
		}

		&:hover {
			opacity: .5;
		}

		&-img {
			padding-right: 9px;

			@media(max-width: 768px) {
				padding: 0;
			}
		}

		&-link {
			font-family: 'Cera Pro';
			font-style: normal;
			font-weight: normal;
			text-decoration: none;
			font-size: 14px;
			line-height: 18px;
			color: #FFFFFF;

			@media(max-width: 768px) {
				display: none;
			}
		}
	}

	&__content {
		&_title {
			font-family: 'Cera Pro';
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 63px;
			color: #FFFFFF;
			max-width: 367px;
			position: relative;

			@media(max-width: 768px) {
				font-size: 25px;
				line-height: 1.5;
				margin-top: 90px;
			}

			&::before {
				content: '';
				display: block;
				width: 20px;
				height: 6px;
				position: absolute;
				top: 25px;
				left: -30px;
				z-index: 1;
				background: linear-gradient(163.14deg, #F03C53 0%, #FF2778 101.5%), #F03C53;

				@media(max-width: 768px) {
					left: -30px;
					top: 15px;
				}
			}
		}

		&_subtitle {
			font-family: 'Museo Sans Cyrl';
			font-style: normal;
			font-weight: 300;
			font-size: 25px;
			line-height: 30px;
			color: #FFFFFF;
			max-width: 367px;

			@media(max-width: 768px) {
				font-size: 15px;
				max-width: 190px;
			}
		}

		&_btn {
			margin-top: 42px;
			padding-bottom: 198px;

			@media(max-width: 768px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 20px;
			}

			&-order {
				background: linear-gradient(163.08deg, #F03C53 0%, #FF2778 101.5%), #F03C53;
				box-shadow: 0px 0px 20px #4A5897;
				border-radius: 25px;
				font-family: 'Cera Pro';
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				padding: 15px 46px 12px 46px;
				text-decoration: none;
				line-height: 23px;
				color: #FFFFFF;

				@media(max-width: 768px) {
					padding: 12px 29px 9px 29px;
					font-size: 15px;
					width: 120px;
				}

				&:hover {
					opacity: .5;
				}
			}

			&-consultation {
				margin-left: 19px;
				border: 1px solid #FFFFFF;
				border-radius: 25px;
				padding: 15px 46px 12px 46px;
				font-family: 'Cera Pro';
				text-decoration: none;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 23px;
				color: #FFFFFF;

				@media(max-width: 768px) {
					padding: 2px 12px 1px 16px;
					font-size: 15px;
					width: 133px;
					height: 50px;
					margin-left: 0;
					margin-top: 15px;
				}

				&:hover {
					opacity: .5;
				}
			}

		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 19px;


		@media(max-width: 768px) {
			flex-wrap: wrap;
		}

		&_block {
			display: flex;
			align-items: center;

			@media(max-width: 768px) {
				width: 50%;
				flex-direction: column;
				align-items: flex-start;
				height: 150px;
			}

			&-img {
				@media(max-width: 768px) {
					margin-left: -20px;
				}
			}

			&-text {
				font-family: 'Cera Pro';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				max-width: 163px;
				color: #FFFFFF;

				@media(max-width: 768px) {
					font-size: 13px;
					max-width: 133px;
				}
			}
		}
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 16;
	padding-top: 39px;
	left: 40%;
	top: 20%;
	width: 432px;
	height: 487px;
	background: #FFFFFF;
	box-shadow: 0px 0px 49px #525567;
	border-radius: 81px 81px 17px 81px;

	@media(max-width: 768px) {
		max-width: 288px;
		height: 352px;
		top: 6%;
		left: 3%;
		padding-top: 32px;
		border-radius: 54px 54px 17px 54px;
	}
}

#bg {
	position: absolute;
	width: 1000%;
	height: 1000%;
	top: 0;
	left: 0;
	display: none;
	background: black;
	opacity: .7;
	z-index: 16;

}

.modal-content {
	padding: 0 20px;


	&__title {
		font-family: 'Cera Pro';
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 28px;
		text-align: center;
		color: #202035;

		@media(max-width: 768px) {
			font-size: 15px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__input {
		width: 340px;
		height: 50px;
		border: 1px solid #303B6C;
		border-radius: 29px;
		font-family: 'Cera Pro';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		margin-top: 20px;
		color: #303B6C;

		@media(max-width: 768px) {
			width: 227px;
			height: 40px;
			margin-top: 10px;
			font-size: 13px;
		}
	}

	&__btn {
		width: 340px;
		height: 58px;
		background: linear-gradient(170.23deg, #F03C53 0%, #FF2778 101.5%), #F03C53;
		box-shadow: 0px 0px 20px #A09BC2;
		border-radius: 29px;
		font-family: 'Cera Pro';
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		outline: none;
		border: none;
		cursor: pointer;
		margin-top: 50px;
		color: #FFFFFF;

		@media(max-width: 768px) {
			width: 227px;
			height: 40px;
			margin-top: 24px;
			font-size: 15px;
		}

		&:hover {
			opacity: .5;
		}
	}

	&__close {
		color: #aaaaaa;
		float: right;
		margin-top: -45px;
		margin-right: -20px;
		font-size: 28px;
		font-weight: bold;
	}

	&__close:hover,
	&__close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
}

@media (max-width:640px) {
	.menu {
		display: none;
	}

	.trigger {
		display: inline-block;
		position: absolute;
		top: 40px;
		right: 20px;
		cursor: pointer;
		z-index: 16;
	}

	.trigger i {
		display: block;
		width: 25px;
		height: 2px;
		margin: 6px auto;
		background: #fff
	}

	.show {
		display: block;
		position: absolute;
		background: #303B6C;
		mix-blend-mode: normal;
		opacity: 0.95;
		width: 100%;
		height: 100%;
		left: 0;
		z-index: 15;
		top: -4%;
		display: flex;
		padding-top: 100px;
	}

	.close i {
		margin: 0;
		&:nth-child(1) {
			transform: rotateZ(45deg);
			position: relative;
			top: 16px;
		}

		&:nth-child(2) {
			transform: rotateY(90deg);
		}

		&:nth-child(3) {
			transform: rotateZ(-45deg);
			top: 12px;
			position: relative;
		}
	}

	.header__nav_item {
		margin-top: 30px;
	}

	.header__nav_item-link {
		font-family: 'Cera Pro';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 40px;
		/* or 286% */

		text-align: center;

		color: #FFFFFF;
	}

	.nav__close {
		color: #aaaaaa;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 20;
		font-size: 28px;
		font-weight: bold;
	}

	.nav__close:hover,
	.nav__close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

}