//-
	name: header
	description: Markup for the header block.
	arguments:
		- {object} props - Block properties.

mixin header(props = {})
	.header
		.container
			.header__top
				.header__top_icon
					img(src="./assets/img/hkhk.svg", alt="")
					p.header__top_icon-text Надежное подключение к Internet
				.header__top_phone
					img.header__top_phone-img(src="./assets/img/Shape.svg", alt="")
					a(href="tel:+380965060609").header__top_phone-text +380965060609; 
					a(href="tel:+380995060609").header__top_phone-text +380995060609;
					a(href="tel:+380735060609").header__top_phone-text +380735060609;
				button#myBtn.header__top_link Обратный звонок
			.header__nav.nav
				span#trigger.trigger
					i
					i
					i
				ul#menu.menu.header__nav_list
					li.header__nav_item
						a.header__nav_item-link(href="/") Абонентам
					li.header__nav_item
						a.header__nav_item-link(href="/") Карта покрытия
					li.header__nav_item
						a.header__nav_item-link(href="/") Тарифы
					li.header__nav_item
						a.header__nav_item-link(href="/") Телевидение
					li.header__nav_item
						a.header__nav_item-link(href="/") Способы оплаты
					li.header__nav_item
						a.header__nav_item-link(href="/") О нас
				.header__nav_btn
					img.header__nav_btn-img(src="./assets/img/Path.svg", alt="")
					a.header__nav_btn-link(href="/") Личный кабинет
			.header__content
				h1.header__content_title Подключение по технологии GPON
				p.header__content_subtitle Суперскоростной интеренет и 3 месяца в подарок!
				.header__content_btn
					a.header__content_btn-order(href="/") Заказать
					a.header__content_btn-consultation(href="/") Получить консультацию
			.header__footer
				.header__footer_block
					img.header__footer_block-img(src="./assets/img/24-hours.svg", alt="")
					p.header__footer_block-text Отзывчивая техническая поддержка
				.header__footer_block
					img.header__footer_block-img(src="./assets/img/servers.svg", alt="")
					p.header__footer_block-text Квалифицированные инженеры
				.header__footer_block
					img.header__footer_block-img(src="./assets/img/website.svg", alt="")
					p.header__footer_block-text Современные технологии
				.header__footer_block
					img.header__footer_block-img(src="./assets/img/guarantee.svg", alt="")
					p.header__footer_block-text 
						| Опыт работы 
						br
						| с 2003 года
			#bg
			#myModal.modal
				.modal-content
					span.modal-content__close ×
					h1.modal-content__title
						| Оставьте заявку
						br
						| на консультацию и мы свяжемся
						br
						| с вами в ближайшее время
					form.modal-content__form(action="")
						input.modal-content__input(type="text", name="text", placeholder="Ваше имя")
						input.modal-content__input(type="phone",name="phone", placeholder="Телефон")
						input.modal-content__input(type="mail",name="mail", placeholder="E-mail")
						input.modal-content__btn(type="submit",name="submit", value="Отправить заявку") 
